@model resourceModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectDeltwo</title>
    <link href="~/css/table.css" rel="stylesheet" />
    <link href="~/css/cwcalendar.css" rel="stylesheet" />
    <script src="~/javascript/comm/comm.js"></script>
    <script src="~/javascript/comm/list.js"></script>
    <script src="~/javascript/calendar-ch.js"></script>
    <script src="~/javascript/jquery-1.7.2.js"></script>
    <script src="~/javascript/locate.js"></script>
    <script src="~/javascript/select.js"></script>
    <script src="~/javascript/vue-2.4.0.js"></script>
</head>
<body>
    <div id="div123">
        @using (Html.BeginForm("SelectDeltwos", "resource", FormMethod.Post))
        {
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--人力资源档案管理--人力资源档案删除 </font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="删除" class="BUTTON_STYLE1" />
                    <input type="button" value="返回" class="BUTTON_STYLE1"
                           onclick="history.back()">
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=3 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td class="TD_STYLE1" width="10%">
                    档案编号
                </td>
                <td colspan="6" class="TD_STYLE2">
                    <input id="Text1" type="text" name="RCode" hidden="hidden" value="@Model.RCode" />
                    @Model.RCode
                </td>
                <td rowspan="6" width="13%" style="text-align: center;">
                    <img src="../../images/regular.jpg" style="width:120px;height:150px;" />
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1" width="10%">
                    I级机构
                </td>
                <td width="13%" class="TD_STYLE2">
                    @Model.oneCodeName
                </td>
                <td width="10%" class="TD_STYLE1">
                    II级机构
                </td>
                <td width="13%" class="TD_STYLE2">
                    @Model.twoCodeName
                </td>
                <td width="10%" class="TD_STYLE1">
                    III级机构
                </td>
                <td class="TD_STYLE2" colspan="2" width="2%">
                    @Model.threeCodeName
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    职位分类
                </td>
                <td class="TD_STYLE2">
                    @Model.MKName
                </td>
                <td class="TD_STYLE1">
                    职位名称
                </td>
                <td class="TD_STYLE2">
                    @Model.CName
                </td>
                <td class="TD_STYLE1">
                    职称
                </td>
                <td colspan="2" class="TD_STYLE2">
                    @Model.MWei
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    姓名
                </td>
                <td class="TD_STYLE2">
                    @Model.RName
                </td>
                <td class="TD_STYLE1">
                    性别
                </td>
                <td class="TD_STYLE2">
                    @Model.RSex
                </td>
                <td class="TD_STYLE1">
                    EMAIL
                </td>
                <td colspan="2" class="TD_STYLE2">@Model.REmail </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    电话
                </td>
                <td class="TD_STYLE2">
                    @Model.RPhone
                </td>
                <td class="TD_STYLE1">
                    QQ
                </td>
                <td class="TD_STYLE2">@Model.RQQ </td>
                <td class="TD_STYLE1">
                    手机
                </td>
                <td colspan="2" class="TD_STYLE2">@Model.RCellphone </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    住址
                </td>
                <td colspan="3" class="TD_STYLE2">@Model.RAddress </td>
                <td class="TD_STYLE1">
                    邮编
                </td>
                <td colspan="2" class="TD_STYLE2">@Model.RPostcode </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    国籍
                </td>
                <td class="TD_STYLE2">
                    @Model.RNationality
                </td>
                <td class="TD_STYLE1">
                    出生地
                </td>
                <td class="TD_STYLE2">@Model.RBirthplace </td>
                <td class="TD_STYLE1">
                    生日
                </td>
                <td width="13%" class="TD_STYLE2">@Model.RBirthday </td>
                <td width="10%" class="TD_STYLE1">
                    民族
                </td>
                <td class="TD_STYLE2">
                    @Model.RNation
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    宗教信仰
                </td>
                <td class="TD_STYLE2">
                    @Model.RFaith
                </td>
                <td class="TD_STYLE1">
                    政治面貌
                </td>
                <td class="TD_STYLE2">
                    @Model.RPolitics
                </td>
                <td class="TD_STYLE1">
                    身份证号码
                </td>
                <td class="TD_STYLE2">
                    @Model.RIDKA
                </td>
                <td class="TD_STYLE1">
                    社会保障号码
                </td>
                <td class="TD_STYLE2">@Model.RSecurity </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    年龄
                </td>
                <td class="TD_STYLE2">@Model.RAge </td>
                <td class="TD_STYLE1">
                    学历
                </td>
                <td class="TD_STYLE2">
                    @Model.RBackground
                </td>
                <td class="TD_STYLE1">
                    教育年限
                </td>
                <td class="TD_STYLE2">
                    @Model.RYears
                </td>
                <td class="TD_STYLE1">
                    学历专业
                </td>
                <td class="TD_STYLE2">
                    @Model.REducation
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    薪酬标准
                </td>
                <td class="TD_STYLE2">
                    @Model.RSalary
                </td>
                <td class="TD_STYLE1">
                    开户行
                </td>
                <td class="TD_STYLE2">@Model.RBank </td>
                <td class="TD_STYLE1">
                    帐号
                </td>
                <td class="TD_STYLE2">@Model.RAccounts </td>
                <td class="TD_STYLE1">
                    复核人
                </td>
                <td class="TD_STYLE2">
                    @Model.RRecombination
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    复核时间
                </td>
                <td class="TD_STYLE2">
                    @Model.RRecombinationDate
                </td>
                <td class="TD_STYLE1">
                    特长
                </td>
                <td class="TD_STYLE2">
                    @Model.Rstrong
                </td>
                <td class="TD_STYLE1">
                    爱好
                </td>
                <td class="TD_STYLE2">
                    @Model.RHobby
                </td>
                <td class="TD_STYLE1">
                    &nbsp;
                </td>
                <td class="TD_STYLE2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    档案附件
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <a href="#">@Model.RAccessory </a>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    个人履历
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <textarea name="item.humanHistroyRecords" rows="4"
                              class="TEXTAREA_STYLE1" readonly="readonly">
                        @Model.Rcurriculum
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        家庭关系信息
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <textarea name="item.humanFamilyMembership" rows="4"
                                  class="TEXTAREA_STYLE1" readonly="readonly">
                            @Model.RFamily
                            </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="TD_STYLE1">
                            备注
                        </td>
                        <td colspan="7" class="TD_STYLE2">
                            <textarea name="item.remark" rows="4" class="TEXTAREA_STYLE1" readonly="readonly">@Model.RRemark </textarea>
                        </td>
                    </tr>
                </table>
        }
            </div>
</body>
</html>
